@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  @apply font-manrope;
}

    .polygon-clip {
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden;
      animation: quoteMove 2.2s steps(5) infinite forwards; /* <--- speed + snap */
    }

    .polygon-clip img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      display: block;
      clip-path: inherit; /* follow parent clip */
      -webkit-clip-path: inherit;
    }

    @keyframes quoteMove {
      0% {
        -webkit-clip-path: polygon(0 40px, 20px 15px, calc(100% - 110px) 0, calc(100% - 50px) 15px, 100% calc(100% - 90px), calc(100% - 50px) calc(100% - 70px), 120px calc(100% - 50px), 40px 100%, 40px calc(100% - 55px), 40px calc(100% - 125px));
        clip-path: polygon(0 40px, 20px 15px, calc(100% - 110px) 0, calc(100% - 50px) 15px, 100% calc(100% - 90px), calc(100% - 50px) calc(100% - 70px), 120px calc(100% - 50px), 40px 100%, 40px calc(100% - 55px), 40px calc(100% - 125px));
      }
      25% {
        -webkit-clip-path: polygon(10px 30px, 10px 0, calc(100% - 110px) 10px, calc(100% - 40px) 15px, 100% calc(100% - 100px), calc(100% - 40px) calc(100% - 70px), 130px calc(100% - 50px), 50px 100%, 30px calc(100% - 40px), 30px calc(100% - 115px));
        clip-path: polygon(10px 30px, 10px 0, calc(100% - 110px) 10px, calc(100% - 40px) 15px, 100% calc(100% - 100px), calc(100% - 40px) calc(100% - 70px), 130px calc(100% - 50px), 50px 100%, 30px calc(100% - 40px), 30px calc(100% - 115px));
      }
      50% {
        -webkit-clip-path: polygon(5px 50px, 30px 5px, calc(100% - 110px) 5px, calc(100% - 60px) 15px, 100% calc(100% - 110px), calc(100% - 60px) calc(100% - 70px), 110px calc(100% - 35px), 30px 100%, 50px calc(100% - 40px), 35px calc(100% - 135px));
        clip-path: polygon(5px 50px, 30px 5px, calc(100% - 110px) 5px, calc(100% - 60px) 15px, 100% calc(100% - 110px), calc(100% - 60px) calc(100% - 70px), 110px calc(100% - 35px), 30px 100%, 50px calc(100% - 40px), 35px calc(100% - 135px));
      }
      75% {
        -webkit-clip-path: polygon(7.5px 40px, 20px 2.5px, calc(100% - 110px) 7.5px, calc(100% - 50px) 15px, 100% calc(100% - 105px), calc(100% - 50px) calc(100% - 70px), 120px calc(100% - 42.5px), 40px 100%, 40px calc(100% - 40px), 32.5px calc(100% - 125px));
        clip-path: polygon(7.5px 40px, 20px 2.5px, calc(100% - 110px) 7.5px, calc(100% - 50px) 15px, 100% calc(100% - 105px), calc(100% - 50px) calc(100% - 70px), 120px calc(100% - 42.5px), 40px 100%, 40px calc(100% - 40px), 32.5px calc(100% - 125px));
      }
      100% {
        -webkit-clip-path: polygon(0 40px, 20px 15px, calc(100% - 110px) 0, calc(100% - 50px) 15px, 100% calc(100% - 90px), calc(100% - 50px) calc(100% - 70px), 120px calc(100% - 50px), 40px 100%, 40px calc(100% - 55px), 40px calc(100% - 125px));
        clip-path: polygon(0 40px, 20px 15px, calc(100% - 110px) 0, calc(100% - 50px) 15px, 100% calc(100% - 90px), calc(100% - 50px) calc(100% - 70px), 120px calc(100% - 50px), 40px 100%, 40px calc(100% - 55px), 40px calc(100% - 125px));
      }
    }